body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #b6b4b4;
    font-size: 20px;
}

#quiz-container {
    background: #fff;
    padding: 130px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

#timer {
    margin-bottom: 20px;
    font-weight: bolder;
    text-decoration: underline;
    
}

#question-container {
    margin-bottom: 20px;
}

#choices button {
    display: block;
    margin: 10px 0;
    width: 100%;
    height: 40px;
    font-size: 15px;
}

#next-btn {
    margin-top: 20px;
    font-size: 21px;
}

#result-container {
    text-align: center;
}
